h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333
}

a, p, li {
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em
}

a:hover {
  text-decoration: none !important;
  color: #333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}

.container {
  margin: auto;
  max-width: 730px;
  padding: 0 20px
}


.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite
}

@-webkit-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.main-nav {
  background: #f4f4f4;
  text-align: right;
  padding: 10px 0;
  color: #a7a7a7;

  span{
    line-height: 40px;
  }
}



.section.second {
  margin-bottom: 90px
}

.section .container {
  position: relative
}

.section .container:after {
  position: absolute;
  content: url(../images/separator.png);
  left: 20px
}

.section .container h1 {
  //text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  .title{
    //font-family: "Lato", Arial, sans-serif
    font-family:  serif;
    font-weight: bolder;
  }
}
.top{
  h1{
    display: inline-block;
  }
  .balance{
    padding-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    line-height: 3em;
    color: #999999;
  }
}

.intro {
  padding: 85px 0 70px ;
  overflow-x: hidden
}

.intro img {
  width: 81px;
  height: 81px;
  border-radius: 99px
}

.intro .wrap {
  margin: 30px 0 0
}

.intro h1:before {
  content: 'XDAG';
}
.intro h1:before {
  position: absolute;
  left: -180px;
  top: -150px;
  font-size: 270px;
  z-index: -1;
  color: #f4f4f4
}

.intro h1 span {
  font-size: 47px
}

.work .work-list {
  margin-left: 0px
}

.work .work-list li {
  list-style: none;
  font-size: 0.9375em;
  color: #8c8c8c
}

.work .work-list li a {
  padding-bottom: 5px;
  font-size: 1.1875em;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #b3b3b3
}

.work .work-list li a:hover {
  border-bottom: 1px solid #333
}

.award .award-list {
  margin-left: 0px
}

.award .award-list li:first-child {
  font-size: 2em;
  color: #000;
}
.award .award-list li:nth-child(3) {
  font-size: 0.9375em;
  color: #8c8c8c
}

.skills .skill-list {
  margin-left: 0
}

.skills .skill-list li:first-child {
  font-size: 0.9375em;
  color: #8c8c8c
}

.quote {
  background: url(../images/1.jpg);
  padding: 10px 0;
  margin-top: 120px
}

.quote h1 {
  margin: 50px 0;
  padding: 40px 20px;
  border: 5px solid #fff;
  color: #fff;
  font-size: 1.8em;
}

footer {
  padding: 50px 0 0
}

footer .social li {
  display: inline;
  margin-left: 20px
}

footer .social li a {
  font-size: 1.25em;
  color: #999
}

.units-split{
  height: 120px;
}
.topLeft{
  height: 80px;
}

.xdag{
  color: #000000;
  font-size: 16px;
  padding-top: 20px ;
}
.codeBrdr{
  background: #f5f5f5;
  padding: 20px 30px;
  margin: 20px 10px;
}
.addressBrdr{
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
